/** BEGIN Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html **/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** END Reset default browser CSS **/


/** BEGIN Page styling **/
div#page {
	background: none repeat scroll 0 0 #FFFFFF;
	background-image: url("images/background_page.png");
	box-shadow: 0px 1px 4px #CCCCCC;
	margin:0 auto;
	text-align: left; /* Resetting the text-align property to it's default */
	width: 1000px;
	min-height: 600px;
	padding-bottom: 8px;
}

body {
	background: none repeat scroll 0 0 #FFFFFF;
	background-image: url("images/background_body.png");
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center; /* Tip to make IE center the page */
}
/** END Page styling **/

/** BEGIN Header styling **/
div#header {
	background: url("images/header_background.png");
	border-bottom: 3px solid #4B4B4B;
	height: 140px;
}

div#header_login {
	float: right;
	height: 115px;
	width: 250px;
	margin: 10px 8px 15px 8px;
	border: 1px solid #1879D2;
	border-radius: 3px;
	text-align: right;
	background: url("images/header_login_background.png");
}

#logo {
	margin: 10px 0px 0px 10px;
}
/** END Header styling **/

/** BEGIN Navigation + Content divs styling **/
div#side_nav {
	background-color: white;
	display: block;
	float: left;
	width: 182px;
	min-height: 300px;
	margin: 20px 0px 0px 10px;
	padding: 12px 8px 12px 8px;
	border: 1px solid #7E7E7E;
	overflow: auto;
}

div#side_nav p#nav_menu {
	text-align: center;
	margin-bottom: 30px;
	width: 182px;
	background-color: #CCCCCC;
}

div#side_nav ul {
	margin-bottom: 10px;
}

div#side_nav ul li {
	margin-top: 5px;
}

div#content {
	background-color: white;
	background: url("images/content_background.png");
	display: block;
	width: 718px;
	min-height: 300px;
	padding: 20px 20px 20px 20px;
	margin: 20px 10px 10px 227px;
	border: 1px solid #7E7E7E;
	overflow: auto;
}
/** END Navigation + Content divs styling **/

/** BEGIN Message styling **/
.form_error {
	margin: 0px 0px 20px 0px;
	background-color: #E67302;
	border-radius: 3px;
	font-size: 14px;
	padding: 5px;
}
.form_success {
	margin: 0px 0px 20px 0px;
	background-color: #56B04A;
	border-radius: 3px;
	font-size: 14px;
	padding: 5px;
}
/** END Message styling **/

/** BEGIN Form styling **/
.form_admin {
	width: 100%;
}
.form_admin fieldset {
	margin-bottom: 30px;
	border: 1px solid #CCCCCC;
	padding: 0px 20px;
	background-color: #FAFAFA;
	padding: 15px;
}
.form_admin #fieldset_submit {
	margin-bottom: 10px;
	text-align: right;
}
.form_admin fieldset:hover {
	background-color: #EFEFEF;
}
.form_admin legend {
	margin-left: 10px;
	padding: 0px 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	color: #FFFFFF;
	background-color: #777777;
}
.form_admin label {
	background-color: #FFCC66;
	display: inline-block;
	float: left;
	width: 39%;
	text-align: right;
	letter-spacing: 2px;
	padding-right: 1%;
	height: 18px;
}
.form_admin input[type="text"], .form_admin input[type="radio"], .form_admin input[type="password"], .form_admin select, .form_admin textarea {
	margin-left: 1%;
	display: inline-block;
}
.form_admin p {
	margin-top: 15px;
}
.form_admin input[type="text"], .form_admin input[type="password"], .form_admin textarea, {
	width: 58%;
	border: 1px solid #CCCCCC;
}
.form_admin input, .form_admin textarea {
	width: 58%;
	border: 1px solid #CCCCCC;
}
.form_admin select {
	border: 1px solid #CCCCCC;
}
.form_admin input:hover, .form_admin input:focus, .form_admin select:hover, .form_admin select:focus,
.form_admin textarea:hover, .form_admin textarea:focus {
	background-color: #DDEEFF;
	border: 1px solid #999999;
}
.form_admin input[type="submit"], .form_admin input[type="reset"] {
	border: 1px solid #DDEEFF;
	width: 27%;
}
.form_admin input[type="submit"]:hover {
	background-color: #66CC33;
	cursor: pointer;
}
.form_admin input[type="reset"]:hover {
	background-color: #E6484D;
	cursor: pointer;
}

.form_admin input[type="submit"], .form_admin input[type="reset"] {
	border-radius: 3px;
}

/* Pour les prénoms */
.form_admin #input_firstName, .form_admin #input_secondName, .form_admin #input_thirdName {
	width: 17.9%;
}
/* Pour les input dans les tables */
.table_input {
	
}

/** END Form styling **/

/** BEGIN Default table styling **/
table {
	border-collapse: collapse;
	width:100%;
}
th, td {
	border: 1px solid black;
	text-align: center;
}
caption {
	font-weight: bold;
}
/** END Default table styling **/

#bloc {
	width: 500px;
	text-align: center;
	background-color: white;
	color: green;
	margin:0 auto;
	margin-top: 50px;
	border: 1px solid #CCCCCC;
}

#footer {
	clear: both;
	display: block;
	position: relative;
	bottom: 0px;
	width: 500px;
	background-color: black;
	color: white;
	margin:0 auto;
}

#footer p {
	text-align: center;
}